<h1> edit page </h1>
<% form_for @article, :url =>{:action => "update", :id => @article} do |f| %>
  <p>title: <%=  f.text_field 'title' %></p>
  <p>body: <%=  f.text_area 'body' %></p>
  <p><%= f.submit "Save Article Changes" %> </p>
<% end %>

<% link_to "Home", {:action => 'index'} %>